
body, .top, .second, .third, .fourth-text, .images-subtext{
    display: flex;
    flex-direction: column;
    font-family: 'Open Sans', sans-serif;
    
}

.header, .first, .links, .images-second, .fourth{
    display: flex;
}

body{
    margin: 0px;
}

.logo {
    font-size: 24px;
    color: #f9faf8;
}

.links{
    gap:15px;
    margin-top:20px;
}
.links a{
    font-size: 18px;
    color: #E5E7EB;
    text-decoration: none;

}

.second-header{
    text-align: center;
}

.image-subtext p{
    width:180px;
    text-align: center; 
    font-size: 15px;  
}

.images-second{
    margin-left: auto;
    margin-right: auto;
    height: 350px;
    width: 150px;
    gap: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
}

.image-subtext img{
    height:200px;
    border-radius: 10px;
    border:solid blue 2px;
    width:500px;
}


.top, .footer{
    background-color: #1F2937;
    background-size: cover;
}

.placeholder{
    text-align: center;
    color: #f9faf8;
    width: 500px;
    height: 200px;
    background-color: gray;
}
.placeholder p{
    margin: 90px 0 0 0;
}

.header{
    gap: 450px;
    color: #f9faf8;
}

.first{
    gap: 100px;
    align-items: center;
}

.first-container{
    padding-top: 0px;
    padding-bottom: 100px;
    width: 480px;
}

 .first-header{
    font-size: 50px;
    font-weight: 900;
    color: #f9faf8;
 }

 .first-header-subtext{
    font-size: 18px;
    color: #E5E7EB;
 }

 .first-button{
    background-color: #3882f6;
    border-radius: 10px;
    border: none;
    border-color: #3882f6;
    color: #f9faf8;
    width: 100px;
    height: 30px;
 }

 .second-header{
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;
 }

 .top{
    align-items: center;
 }

 .third{
    background-color: #E5E7EB;
    justify-content: center;
    text-align: center;
 }

 .quote{
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
    font-weight: 450;
    margin-top: 200px;
    margin-bottom: auto;
 }

 .quoter{
    flex-basis: 250px;
    padding-left: 150px;
 }

 .fourth{
    margin-left: auto;
    margin-right: auto;
    margin: 80px 150px 80px 150px;
    justify-content: space-around;
    height: 140px;
    width: 1100px;
    background-color: #3882f6;
    color: #f9faf8;
    border-radius: 5px;
    
 }

.second-button{
    background-color: #3882f6;
    color: #f9faf8;
    border-radius: 10px;
    border-color: #f9faf8;
    padding: 5px 20px 5px 20px;
    align-self: center;
    margin: 40px 0 0 100px;
}

.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
}

.footer p{
    color: #f9faf8;
    font-size: 10px;
}

.third-header{
    margin: 40px 0 0 0;
    font-size: 18px;
    font-weight: 900;
}

.fourth-header{
    margin: 0 0 40px 0;
}

img{
    border-style: solid;
    margin: 0 auto;
    width:200px;
    height: 200px;
    border: 2px solid #3882f6;
    border-radius: 10px;
    align-items: center;
}

